@import 'shared/styles/const.scss';

.c-header-search {
  &-ctn {
    height: 32px;
    background-color: $white;
    border-radius: 3px;
    padding: 0 10px;
    border: 2px solid transparent;

    &.input-focus {
      border: 2px solid $yellow;
    }
  }

  &__input {
    flex-grow: 1;
  }
}
