@import 'shared/styles/const.scss';

.c-header-search {
  &-ctn {
    height: 32px;
    background-color: $white;
    border-radius: 3px;
    padding: 0 10px;
    border: 2px solid transparent;
    position: relative;

    &.active {
    }

    &.input-focus {
      border: 2px solid $yellow;
    }
  }

  &__input {
    flex-grow: 1;
  }

  &__result {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgb(31, 31, 31);
    margin-top: 2px;
    left: 0;
  }
}
