@import 'shared/styles/const.scss';

.c-movie-info-row {
  display: flex;

  &--card {
    -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    box-shadow: 1px 0 20px -10px rgb(43 43 43 / 10%), -2px 3px 11px 0px rgb(43 43 43 / 10%);
    background: #ffffff;
    border-radius: 4px;
    margin: 1rem 0;

    .c-movie-info-row__info {
      padding: 0.5rem 0;
    }
  }

  &__poster {
    width: 140px;
    aspect-ratio: auto 96 / 142;

    & img {
      width: 100%;
      display: block;
    }
  }

  &__info {
    margin-left: 1rem;
    width: calc(100% - 140px);

    &-row2 {
      color: #666;
      font-size: 15px;
      letter-spacing: 0.02rem;
    }

    &-rating-row {
      margin: 0.5rem 0;
    }
  }

  &__actor {
    color: #136cb2;
    font-size: 15px;

    & + .c-movie-info-row__actor::before {
      content: ', ';
    }
  }

  &__title {
    color: #136cb2;
    font-size: 1.25rem;
  }

  &__plot {
    padding: 0.25rem 0;
    color: rgb(51, 51, 51);
  }
}
