@import 'shared/styles/const.scss';

.c-imdb-rating {
  color: #535353;

  &__title {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  &__rating-value {
    font-size: 20px;
    color: $black;
  }

  &__vote-count {
    font-size: 13px;
  }
}
